main{
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#intro{
    height: 20%;
}
#hero{
height: 74%;
/* border: 2px dotted red; */
width: 100%;
display: flex;
justify-content: center;
}
