main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
 padding-bottom: 12%;
}
#intro {
  height: 32%;
  width: 100%;
  padding-top: 19%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6%;
}

h1 {
  font-size: 2.2rem;
}

#hero {
  height: 74%;
  /* border: 2px dotted red; */
  width: 100%;
  display: flex;
  
  justify-content: center;
}
 .initialBox{
  width: 88%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .initialBox h3{
  margin-bottom: 13px;
 }

.initialForm {
  width: 88%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa19;
  backdrop-filter: blur(2px);
  border-radius: 6px;
}

#comparar{
  background-color:#8BACFF;
  border: none;
  padding: 4px;
  border-radius: 6px;
}
