.main-form {
  position: relative;
  align-self:start;
  min-height: 19%;
  width: 88%;
  padding-top: 9px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 13%;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #fafafa19;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0px 0px 39px 12px rgba(#597bff);
}
.main-form label{
  font-size: 1.2rem;
}
.inputController{
  width: 89%;
}
.inputController input {

  width: 99%;
  height: 50px;
  border-radius: 6px 6px 0px 0px;
  
  border: none;
  background-color: #8bacff;
font-size: 1.2rem;
  padding: 6px;
  box-sizing: border-box;
 
  margin-bottom: 28px;
  margin-top: 9px;
  transition: All 200ms;
}
.inputController input:focus {
  outline: none;        
  box-shadow: none;   
  border-bottom: 2px solid white;
}

.inputController .disabled {
  width: 86%;
  height: 0;
  background-color: transparent;
  appearance: none;
  border: none;
  border-bottom: 2px solid white;
  box-sizing: border-box;
  margin: 4px;
}


.main-form button {
  border: none;
  
  background-color: #8bacff;
  position: relative;
  left: 25%;
  width: 100px;
  height: 40px;
  border-radius: 6px;
}
